:root {
	--font: 'Roboto', sans-serif;
	--color-accent: #a18a68;
	--color-black: #000000;
	--color-black-hover: #1a1717;
	--color-little-grey: #d8d8d8;
	--color-grey: #707070;
	--color-white-light: #ffffff;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

body {
	font-family: var(--font);
	margin: 0 auto;
  	max-width: 1248px
}

h1 {
	color: var(--color-black);
	font-weight: 500;
	font-size: 33px;
	line-height: 43px;
	text-align: center;
}

h1.left {
	text-align: left
}

ul li{
	list-style: none
}

